.links{
    text-align: right;
    padding:5px;
}

.links > a {
    padding:10px;
    text-decoration: none;
    color:black;
}


.container_logo{
    margin-block: 80px;
}

.logo {
    margin-left: 35%;
    width: 30%;
    margin-bottom: 10px;
}

.container_search {
    margin-bottom: 50px;
}

.container_search > form {
    margin-bottom: inherit;
}

.center_search {
    text-align: center;
}

.search_bar {
    width: 40%;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    font-size: 85%;
    text-align: center;
    margin-inline: 30%;
    margin-bottom: 15px;
}

.search_button {
    height: 40px;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 155px;
    cursor: pointer;
}

.search_button:hover {
    background-color: #ffe;
}


.container_advanced_search {
    margin: 20px;
}

.line {
    margin:20px;
    text-align:left;
}

.advanced_search_bar {
    position: absolute;
    left: 230px;
    width: 32%;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.advanced_search_button {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 0.25rem;
}

#lucky {
    height: 40px;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 155px;
    cursor: pointer;
}